<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
                <link rel="Stylesheet" href="style.css" type="text/css"  />
                  <link rel="Stylesheet" href="css/fontello.css" type="text/css"  />
		<title> Rower-Budowa-Regulacja.pl </title>

<script type="text/javascript">
// <![CDATA[
function flash(id, kolor, czas, kolor2, czas2)
{
	document.getElementById(id).style.color = kolor;
	setTimeout('flash("' + id + '","' + kolor2 + '",' + czas2 + ',"' + kolor + '",' + czas + ')', czas);
}
// ]]>

         
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


	       
                

          

</head>


 <body onscroll="myFunction()">
     
             
 <div id="container">
  
       
     <div id="logo">
    

<script type="text/javascript">
// <![CDATA[
flash("logo", "black", 600, "purple", 600);
// ]]>
</script>
     
     <h> <b> >ROWER-BUDOWA-REGULACJA< <br></h>
     </div>
  
 <div id="menu">
 <div class="n2"><a href="index.html">Strona główna </a></div>
 <div class="n2"><a href="Ciekawosci.html">Ciekawości</a></div>
<div class="n2"><a href="forum.html">Forum</a></div>
<div class="n2"><a href="projekt.html">O projekcie</a></div>
 <div class="n2"><a href="kontakt.html"> Kontakt</a></div>
 <div style="clear: both" ></div >
 
  
   </div>  </div>
    
        <div id="navl" >
        <div class="n1"> <a href="historia.html"> Historia rower</a></div> 
          <div class="n1"><a href="typy.html"> Typy rowerów</a></div> 
            <div class="n1"><a href="budowao.html"> Budowa ogólna</a></div> 
            <div class="n1"><a href="budowap.html"> Budowa podzespołów</a></div>
            <div style="clear: both"></div>  
            </div>
                          
        <div id="article">
           <p> Artykuł <h3> <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae fermentum orci, sit amet condimentum nulla. Duis iaculis ut justo commodo cursus. Duis ut porta arcu, sed auctor nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ipsum elit, tempor vel mattis et, aliquam eleifend tortor. Sed ullamcorper ipsum at convallis laoreet. Aenean ac elit ac diam rhoncus sodales sed ac velit. Etiam maximus tincidunt nisi. Sed id imperdiet mauris, mollis feugiat nisi. Suspendisse aliquet ligula dolor, ac elementum sem interdum a. Vivamus sed tempus felis. Integer eu magna lacus</p>
           
        </div>
      <div id="social">
                     
                    <div class="fb"><i class="icon-facebook"></i></div>
                    <div class="yt"><i class="icon-youtube"></i></div>
                    <div class="gmail"><i class="icon-gmail"></i></div>
                
              
             
      </div>
      <div style="clear: both"></div>
    <div id="footer">
        <p>Producted by : <b>  eMJot  </p>
     

     
    </div>

</div>
	       
     


<script type="text/javascript">
var menu = document.getElementById("menu");
var sticky = menu.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    menu.classList.add("sticky")
  } else {
    menu.classList.remove("sticky");
  }
}
</script>

                  
                
                   
	</body>
</html>
